<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dreams.dream.dao.base.ArticleTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dreams.dream.pojo.base.ArticleTypeInfo" >
    <id column="article_type_id" property="articleTypeId" jdbcType="INTEGER" />
    <result column="article_type_name" property="articleTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.articleTypeName != null" >
         and article_type_name = #{condition.articleTypeName,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.articleTypeName != null" >
         and article_type_name = #{example.condition.articleTypeName,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    article_type_id, article_type_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dreams.dream.pojo.base.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article_type_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_type_info
    where article_type_id = #{articleTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_type_info
    where article_type_id = #{articleTypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dreams.dream.pojo.base.Criteria" >
    delete from article_type_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dreams.dream.pojo.base.ArticleTypeInfo" >
    insert into article_type_info (article_type_id, article_type_name)
    values (#{articleTypeId,jdbcType=INTEGER}, #{articleTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dreams.dream.pojo.base.ArticleTypeInfo" >
    insert into article_type_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleTypeId != null" >
        article_type_id,
      </if>
      <if test="articleTypeName != null" >
        article_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleTypeId != null" >
        #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="articleTypeName != null" >
        #{articleTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dreams.dream.pojo.base.Criteria" resultType="java.lang.Integer" >
    select count(*) from article_type_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article_type_info
    <set >
      <if test="record.articleTypeId != null" >
        article_type_id = #{record.articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.articleTypeName != null" >
        article_type_name = #{record.articleTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article_type_info
    set article_type_id = #{record.articleTypeId,jdbcType=INTEGER},
      article_type_name = #{record.articleTypeName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dreams.dream.pojo.base.ArticleTypeInfo" >
    update article_type_info
    <set >
      <if test="articleTypeName != null" >
        article_type_name = #{articleTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where article_type_id = #{articleTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dreams.dream.pojo.base.ArticleTypeInfo" >
    update article_type_info
    set article_type_name = #{articleTypeName,jdbcType=VARCHAR}
    where article_type_id = #{articleTypeId,jdbcType=INTEGER}
  </update>
</mapper>