<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dreams.dream.dao.base.UserLevelDetailHisMapper">
  <resultMap id="BaseResultMap" type="com.dreams.dream.pojo.base.UserLevelDetailHis">
    <id column="level_detail_id" jdbcType="VARCHAR" property="levelDetailId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="level_detail_val" jdbcType="INTEGER" property="levelDetailVal" />
    <result column="level_detail_date" jdbcType="TIMESTAMP" property="levelDetailDate" />
    <result column="level_detail_type" jdbcType="VARCHAR" property="levelDetailType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="condition.userId != null">
         and user_id = #{condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="condition.levelDetailVal != null">
         and level_detail_val = #{condition.levelDetailVal,jdbcType=INTEGER}
      </if>
      <if test="condition.levelDetailDate != null">
         and level_detail_date = #{condition.levelDetailDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.levelDetailType != null">
         and level_detail_type = #{condition.levelDetailType,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="example.condition.userId != null">
         and user_id = #{example.condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.levelDetailVal != null">
         and level_detail_val = #{example.condition.levelDetailVal,jdbcType=INTEGER}
      </if>
      <if test="example.condition.levelDetailDate != null">
         and level_detail_date = #{example.condition.levelDetailDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.levelDetailType != null">
         and level_detail_type = #{example.condition.levelDetailType,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List">
    level_detail_id, user_id, level_detail_val, level_detail_date, level_detail_type
  </sql>
  <select id="selectByExample" parameterType="com.dreams.dream.pojo.base.Criteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_level_detail_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_level_detail_his
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_level_detail_his
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dreams.dream.pojo.base.Criteria">
    delete from user_level_detail_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    insert into user_level_detail_his (level_detail_id, user_id, level_detail_val, 
      level_detail_date, level_detail_type)
    values (#{levelDetailId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{levelDetailVal,jdbcType=INTEGER}, 
      #{levelDetailDate,jdbcType=TIMESTAMP}, #{levelDetailType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    insert into user_level_detail_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="levelDetailId != null">
        level_detail_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="levelDetailVal != null">
        level_detail_val,
      </if>
      <if test="levelDetailDate != null">
        level_detail_date,
      </if>
      <if test="levelDetailType != null">
        level_detail_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="levelDetailId != null">
        #{levelDetailId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="levelDetailVal != null">
        #{levelDetailVal,jdbcType=INTEGER},
      </if>
      <if test="levelDetailDate != null">
        #{levelDetailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="levelDetailType != null">
        #{levelDetailType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dreams.dream.pojo.base.Criteria" resultType="java.lang.Integer">
    select count(*) from user_level_detail_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_level_detail_his
    <set>
      <if test="record.levelDetailId != null">
        level_detail_id = #{record.levelDetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.levelDetailVal != null">
        level_detail_val = #{record.levelDetailVal,jdbcType=INTEGER},
      </if>
      <if test="record.levelDetailDate != null">
        level_detail_date = #{record.levelDetailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.levelDetailType != null">
        level_detail_type = #{record.levelDetailType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_level_detail_his
    set level_detail_id = #{record.levelDetailId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      level_detail_val = #{record.levelDetailVal,jdbcType=INTEGER},
      level_detail_date = #{record.levelDetailDate,jdbcType=TIMESTAMP},
      level_detail_type = #{record.levelDetailType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    update user_level_detail_his
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="levelDetailVal != null">
        level_detail_val = #{levelDetailVal,jdbcType=INTEGER},
      </if>
      <if test="levelDetailDate != null">
        level_detail_date = #{levelDetailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="levelDetailType != null">
        level_detail_type = #{levelDetailType,jdbcType=VARCHAR},
      </if>
    </set>
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    update user_level_detail_his
    set user_id = #{userId,jdbcType=VARCHAR},
      level_detail_val = #{levelDetailVal,jdbcType=INTEGER},
      level_detail_date = #{levelDetailDate,jdbcType=TIMESTAMP},
      level_detail_type = #{levelDetailType,jdbcType=VARCHAR}
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.dreams.dream.pojo.base.UserLevelDetailHis">
    <id column="level_detail_id" jdbcType="VARCHAR" property="levelDetailId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="level_detail_val" jdbcType="INTEGER" property="levelDetailVal" />
    <result column="level_detail_date" jdbcType="TIMESTAMP" property="levelDetailDate" />
    <result column="level_detail_type" jdbcType="VARCHAR" property="levelDetailType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="condition.userId != null">
         and user_id = #{condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="condition.levelDetailVal != null">
         and level_detail_val = #{condition.levelDetailVal,jdbcType=INTEGER}
      </if>
      <if test="condition.levelDetailDate != null">
         and level_detail_date = #{condition.levelDetailDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.levelDetailType != null">
         and level_detail_type = #{condition.levelDetailType,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="example.condition.userId != null">
         and user_id = #{example.condition.userId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.levelDetailVal != null">
         and level_detail_val = #{example.condition.levelDetailVal,jdbcType=INTEGER}
      </if>
      <if test="example.condition.levelDetailDate != null">
         and level_detail_date = #{example.condition.levelDetailDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.levelDetailType != null">
         and level_detail_type = #{example.condition.levelDetailType,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List">
    level_detail_id, user_id, level_detail_val, level_detail_date, level_detail_type
  </sql>
  <select id="selectByExample" parameterType="com.dreams.dream.pojo.base.Criteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_level_detail_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_level_detail_his
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_level_detail_his
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dreams.dream.pojo.base.Criteria">
    delete from user_level_detail_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    insert into user_level_detail_his (level_detail_id, user_id, level_detail_val, 
      level_detail_date, level_detail_type)
    values (#{levelDetailId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{levelDetailVal,jdbcType=INTEGER}, 
      #{levelDetailDate,jdbcType=TIMESTAMP}, #{levelDetailType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    insert into user_level_detail_his
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="levelDetailId != null">
        level_detail_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="levelDetailVal != null">
        level_detail_val,
      </if>
      <if test="levelDetailDate != null">
        level_detail_date,
      </if>
      <if test="levelDetailType != null">
        level_detail_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="levelDetailId != null">
        #{levelDetailId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="levelDetailVal != null">
        #{levelDetailVal,jdbcType=INTEGER},
      </if>
      <if test="levelDetailDate != null">
        #{levelDetailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="levelDetailType != null">
        #{levelDetailType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dreams.dream.pojo.base.Criteria" resultType="java.lang.Integer">
    select count(*) from user_level_detail_his
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_level_detail_his
    <set>
      <if test="record.levelDetailId != null">
        level_detail_id = #{record.levelDetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.levelDetailVal != null">
        level_detail_val = #{record.levelDetailVal,jdbcType=INTEGER},
      </if>
      <if test="record.levelDetailDate != null">
        level_detail_date = #{record.levelDetailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.levelDetailType != null">
        level_detail_type = #{record.levelDetailType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_level_detail_his
    set level_detail_id = #{record.levelDetailId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      level_detail_val = #{record.levelDetailVal,jdbcType=INTEGER},
      level_detail_date = #{record.levelDetailDate,jdbcType=TIMESTAMP},
      level_detail_type = #{record.levelDetailType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    update user_level_detail_his
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="levelDetailVal != null">
        level_detail_val = #{levelDetailVal,jdbcType=INTEGER},
      </if>
      <if test="levelDetailDate != null">
        level_detail_date = #{levelDetailDate,jdbcType=TIMESTAMP},
      </if>
      <if test="levelDetailType != null">
        level_detail_type = #{levelDetailType,jdbcType=VARCHAR},
      </if>
    </set>
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dreams.dream.pojo.base.UserLevelDetailHis">
    update user_level_detail_his
    set user_id = #{userId,jdbcType=VARCHAR},
      level_detail_val = #{levelDetailVal,jdbcType=INTEGER},
      level_detail_date = #{levelDetailDate,jdbcType=TIMESTAMP},
      level_detail_type = #{levelDetailType,jdbcType=VARCHAR}
    where level_detail_id = #{levelDetailId,jdbcType=VARCHAR}
  </update>
</mapper>