<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tony.jee.dao.base.AgQuestionExpertMapper">
  <resultMap id="BaseResultMap" type="com.tony.jee.pojo.base.AgQuestionExpert">
    <id column="PK_ID" jdbcType="VARCHAR" property="pkId" />
    <result column="Q_ID" jdbcType="VARCHAR" property="qId" />
    <result column="EXPERT_PERSON" jdbcType="VARCHAR" property="expertPerson" />
    <result column="EXPERT_PROPOSAL" jdbcType="VARCHAR" property="expertProposal" />
    <result column="HELP_PROPOSAL" jdbcType="VARCHAR" property="helpProposal" />
    <result column="MAKE_EMP" jdbcType="VARCHAR" property="makeEmp" />
    <result column="MAKE_DATE" jdbcType="DATE" property="makeDate" />
    <result column="MODIFY_EMP" jdbcType="VARCHAR" property="modifyEmp" />
    <result column="MODIFY_DATE" jdbcType="DATE" property="modifyDate" />
    <result column="COMP_CODE" jdbcType="VARCHAR" property="compCode" />
    <result column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <result column="ISCURRENT" jdbcType="VARCHAR" property="iscurrent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="condition.qId != null">
         and Q_ID = #{condition.qId,jdbcType=VARCHAR}
      </if>
      <if test="condition.expertPerson != null">
         and EXPERT_PERSON = #{condition.expertPerson,jdbcType=VARCHAR}
      </if>
      <if test="condition.expertProposal != null">
         and EXPERT_PROPOSAL = #{condition.expertProposal,jdbcType=VARCHAR}
      </if>
      <if test="condition.helpProposal != null">
         and HELP_PROPOSAL = #{condition.helpProposal,jdbcType=VARCHAR}
      </if>
      <if test="condition.makeEmp != null">
         and MAKE_EMP = #{condition.makeEmp,jdbcType=VARCHAR}
      </if>
      <if test="condition.makeDate != null">
         and MAKE_DATE = #{condition.makeDate,jdbcType=DATE}
      </if>
      <if test="condition.modifyEmp != null">
         and MODIFY_EMP = #{condition.modifyEmp,jdbcType=VARCHAR}
      </if>
      <if test="condition.modifyDate != null">
         and MODIFY_DATE = #{condition.modifyDate,jdbcType=DATE}
      </if>
      <if test="condition.compCode != null">
         and COMP_CODE = #{condition.compCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.sysCode != null">
         and SYS_CODE = #{condition.sysCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.iscurrent != null">
         and ISCURRENT = #{condition.iscurrent,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="example.condition.qId != null">
         and Q_ID = #{example.condition.qId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.expertPerson != null">
         and EXPERT_PERSON = #{example.condition.expertPerson,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.expertProposal != null">
         and EXPERT_PROPOSAL = #{example.condition.expertProposal,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.helpProposal != null">
         and HELP_PROPOSAL = #{example.condition.helpProposal,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.makeEmp != null">
         and MAKE_EMP = #{example.condition.makeEmp,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.makeDate != null">
         and MAKE_DATE = #{example.condition.makeDate,jdbcType=DATE}
      </if>
      <if test="example.condition.modifyEmp != null">
         and MODIFY_EMP = #{example.condition.modifyEmp,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.modifyDate != null">
         and MODIFY_DATE = #{example.condition.modifyDate,jdbcType=DATE}
      </if>
      <if test="example.condition.compCode != null">
         and COMP_CODE = #{example.condition.compCode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.sysCode != null">
         and SYS_CODE = #{example.condition.sysCode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.iscurrent != null">
         and ISCURRENT = #{example.condition.iscurrent,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List">
    PK_ID, Q_ID, EXPERT_PERSON, EXPERT_PROPOSAL, HELP_PROPOSAL, MAKE_EMP, MAKE_DATE, 
    MODIFY_EMP, MODIFY_DATE, COMP_CODE, SYS_CODE, ISCURRENT
  </sql>
  <select id="selectByExample" parameterType="com.tony.jee.pojo.base.Criteria" resultMap="BaseResultMap">
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AG_QUESTION_EXPERT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AG_QUESTION_EXPERT
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AG_QUESTION_EXPERT
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tony.jee.pojo.base.Criteria">
    delete from AG_QUESTION_EXPERT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    insert into AG_QUESTION_EXPERT (PK_ID, Q_ID, EXPERT_PERSON, 
      EXPERT_PROPOSAL, HELP_PROPOSAL, MAKE_EMP, 
      MAKE_DATE, MODIFY_EMP, MODIFY_DATE, 
      COMP_CODE, SYS_CODE, ISCURRENT
      )
    values (#{pkId,jdbcType=VARCHAR}, #{qId,jdbcType=VARCHAR}, #{expertPerson,jdbcType=VARCHAR}, 
      #{expertProposal,jdbcType=VARCHAR}, #{helpProposal,jdbcType=VARCHAR}, #{makeEmp,jdbcType=VARCHAR}, 
      #{makeDate,jdbcType=DATE}, #{modifyEmp,jdbcType=VARCHAR}, #{modifyDate,jdbcType=DATE}, 
      #{compCode,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, #{iscurrent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    insert into AG_QUESTION_EXPERT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        PK_ID,
      </if>
      <if test="qId != null">
        Q_ID,
      </if>
      <if test="expertPerson != null">
        EXPERT_PERSON,
      </if>
      <if test="expertProposal != null">
        EXPERT_PROPOSAL,
      </if>
      <if test="helpProposal != null">
        HELP_PROPOSAL,
      </if>
      <if test="makeEmp != null">
        MAKE_EMP,
      </if>
      <if test="makeDate != null">
        MAKE_DATE,
      </if>
      <if test="modifyEmp != null">
        MODIFY_EMP,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="compCode != null">
        COMP_CODE,
      </if>
      <if test="sysCode != null">
        SYS_CODE,
      </if>
      <if test="iscurrent != null">
        ISCURRENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="qId != null">
        #{qId,jdbcType=VARCHAR},
      </if>
      <if test="expertPerson != null">
        #{expertPerson,jdbcType=VARCHAR},
      </if>
      <if test="expertProposal != null">
        #{expertProposal,jdbcType=VARCHAR},
      </if>
      <if test="helpProposal != null">
        #{helpProposal,jdbcType=VARCHAR},
      </if>
      <if test="makeEmp != null">
        #{makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        #{makeDate,jdbcType=DATE},
      </if>
      <if test="modifyEmp != null">
        #{modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=DATE},
      </if>
      <if test="compCode != null">
        #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="iscurrent != null">
        #{iscurrent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tony.jee.pojo.base.Criteria" resultType="java.lang.Integer">
    select count(*) from AG_QUESTION_EXPERT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update AG_QUESTION_EXPERT
    <set>
      <if test="record.pkId != null">
        PK_ID = #{record.pkId,jdbcType=VARCHAR},
      </if>
      <if test="record.qId != null">
        Q_ID = #{record.qId,jdbcType=VARCHAR},
      </if>
      <if test="record.expertPerson != null">
        EXPERT_PERSON = #{record.expertPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.expertProposal != null">
        EXPERT_PROPOSAL = #{record.expertProposal,jdbcType=VARCHAR},
      </if>
      <if test="record.helpProposal != null">
        HELP_PROPOSAL = #{record.helpProposal,jdbcType=VARCHAR},
      </if>
      <if test="record.makeEmp != null">
        MAKE_EMP = #{record.makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.makeDate != null">
        MAKE_DATE = #{record.makeDate,jdbcType=DATE},
      </if>
      <if test="record.modifyEmp != null">
        MODIFY_EMP = #{record.modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDate != null">
        MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
      </if>
      <if test="record.compCode != null">
        COMP_CODE = #{record.compCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCode != null">
        SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      </if>
      <if test="record.iscurrent != null">
        ISCURRENT = #{record.iscurrent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update AG_QUESTION_EXPERT
    set PK_ID = #{record.pkId,jdbcType=VARCHAR},
      Q_ID = #{record.qId,jdbcType=VARCHAR},
      EXPERT_PERSON = #{record.expertPerson,jdbcType=VARCHAR},
      EXPERT_PROPOSAL = #{record.expertProposal,jdbcType=VARCHAR},
      HELP_PROPOSAL = #{record.helpProposal,jdbcType=VARCHAR},
      MAKE_EMP = #{record.makeEmp,jdbcType=VARCHAR},
      MAKE_DATE = #{record.makeDate,jdbcType=DATE},
      MODIFY_EMP = #{record.modifyEmp,jdbcType=VARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
      COMP_CODE = #{record.compCode,jdbcType=VARCHAR},
      SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      ISCURRENT = #{record.iscurrent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    update AG_QUESTION_EXPERT
    <set>
      <if test="qId != null">
        Q_ID = #{qId,jdbcType=VARCHAR},
      </if>
      <if test="expertPerson != null">
        EXPERT_PERSON = #{expertPerson,jdbcType=VARCHAR},
      </if>
      <if test="expertProposal != null">
        EXPERT_PROPOSAL = #{expertProposal,jdbcType=VARCHAR},
      </if>
      <if test="helpProposal != null">
        HELP_PROPOSAL = #{helpProposal,jdbcType=VARCHAR},
      </if>
      <if test="makeEmp != null">
        MAKE_EMP = #{makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        MAKE_DATE = #{makeDate,jdbcType=DATE},
      </if>
      <if test="modifyEmp != null">
        MODIFY_EMP = #{modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      </if>
      <if test="compCode != null">
        COMP_CODE = #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="iscurrent != null">
        ISCURRENT = #{iscurrent,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    update AG_QUESTION_EXPERT
    set Q_ID = #{qId,jdbcType=VARCHAR},
      EXPERT_PERSON = #{expertPerson,jdbcType=VARCHAR},
      EXPERT_PROPOSAL = #{expertProposal,jdbcType=VARCHAR},
      HELP_PROPOSAL = #{helpProposal,jdbcType=VARCHAR},
      MAKE_EMP = #{makeEmp,jdbcType=VARCHAR},
      MAKE_DATE = #{makeDate,jdbcType=DATE},
      MODIFY_EMP = #{modifyEmp,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      COMP_CODE = #{compCode,jdbcType=VARCHAR},
      SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      ISCURRENT = #{iscurrent,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.tony.jee.pojo.base.AgQuestionExpert">
    <id column="PK_ID" jdbcType="VARCHAR" property="pkId" />
    <result column="Q_ID" jdbcType="VARCHAR" property="qId" />
    <result column="EXPERT_PERSON" jdbcType="VARCHAR" property="expertPerson" />
    <result column="EXPERT_PROPOSAL" jdbcType="VARCHAR" property="expertProposal" />
    <result column="HELP_PROPOSAL" jdbcType="VARCHAR" property="helpProposal" />
    <result column="MAKE_EMP" jdbcType="VARCHAR" property="makeEmp" />
    <result column="MAKE_DATE" jdbcType="DATE" property="makeDate" />
    <result column="MODIFY_EMP" jdbcType="VARCHAR" property="modifyEmp" />
    <result column="MODIFY_DATE" jdbcType="DATE" property="modifyDate" />
    <result column="COMP_CODE" jdbcType="VARCHAR" property="compCode" />
    <result column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <result column="ISCURRENT" jdbcType="VARCHAR" property="iscurrent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="condition.qId != null">
         and Q_ID = #{condition.qId,jdbcType=VARCHAR}
      </if>
      <if test="condition.expertPerson != null">
         and EXPERT_PERSON = #{condition.expertPerson,jdbcType=VARCHAR}
      </if>
      <if test="condition.expertProposal != null">
         and EXPERT_PROPOSAL = #{condition.expertProposal,jdbcType=VARCHAR}
      </if>
      <if test="condition.helpProposal != null">
         and HELP_PROPOSAL = #{condition.helpProposal,jdbcType=VARCHAR}
      </if>
      <if test="condition.makeEmp != null">
         and MAKE_EMP = #{condition.makeEmp,jdbcType=VARCHAR}
      </if>
      <if test="condition.makeDate != null">
         and MAKE_DATE = #{condition.makeDate,jdbcType=DATE}
      </if>
      <if test="condition.modifyEmp != null">
         and MODIFY_EMP = #{condition.modifyEmp,jdbcType=VARCHAR}
      </if>
      <if test="condition.modifyDate != null">
         and MODIFY_DATE = #{condition.modifyDate,jdbcType=DATE}
      </if>
      <if test="condition.compCode != null">
         and COMP_CODE = #{condition.compCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.sysCode != null">
         and SYS_CODE = #{condition.sysCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.iscurrent != null">
         and ISCURRENT = #{condition.iscurrent,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="example.condition.qId != null">
         and Q_ID = #{example.condition.qId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.expertPerson != null">
         and EXPERT_PERSON = #{example.condition.expertPerson,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.expertProposal != null">
         and EXPERT_PROPOSAL = #{example.condition.expertProposal,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.helpProposal != null">
         and HELP_PROPOSAL = #{example.condition.helpProposal,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.makeEmp != null">
         and MAKE_EMP = #{example.condition.makeEmp,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.makeDate != null">
         and MAKE_DATE = #{example.condition.makeDate,jdbcType=DATE}
      </if>
      <if test="example.condition.modifyEmp != null">
         and MODIFY_EMP = #{example.condition.modifyEmp,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.modifyDate != null">
         and MODIFY_DATE = #{example.condition.modifyDate,jdbcType=DATE}
      </if>
      <if test="example.condition.compCode != null">
         and COMP_CODE = #{example.condition.compCode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.sysCode != null">
         and SYS_CODE = #{example.condition.sysCode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.iscurrent != null">
         and ISCURRENT = #{example.condition.iscurrent,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List">
    PK_ID, Q_ID, EXPERT_PERSON, EXPERT_PROPOSAL, HELP_PROPOSAL, MAKE_EMP, MAKE_DATE, 
    MODIFY_EMP, MODIFY_DATE, COMP_CODE, SYS_CODE, ISCURRENT
  </sql>
  <select id="selectByExample" parameterType="com.tony.jee.pojo.base.Criteria" resultMap="BaseResultMap">
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AG_QUESTION_EXPERT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AG_QUESTION_EXPERT
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from AG_QUESTION_EXPERT
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tony.jee.pojo.base.Criteria">
    delete from AG_QUESTION_EXPERT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    insert into AG_QUESTION_EXPERT (PK_ID, Q_ID, EXPERT_PERSON, 
      EXPERT_PROPOSAL, HELP_PROPOSAL, MAKE_EMP, 
      MAKE_DATE, MODIFY_EMP, MODIFY_DATE, 
      COMP_CODE, SYS_CODE, ISCURRENT
      )
    values (#{pkId,jdbcType=VARCHAR}, #{qId,jdbcType=VARCHAR}, #{expertPerson,jdbcType=VARCHAR}, 
      #{expertProposal,jdbcType=VARCHAR}, #{helpProposal,jdbcType=VARCHAR}, #{makeEmp,jdbcType=VARCHAR}, 
      #{makeDate,jdbcType=DATE}, #{modifyEmp,jdbcType=VARCHAR}, #{modifyDate,jdbcType=DATE}, 
      #{compCode,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, #{iscurrent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    insert into AG_QUESTION_EXPERT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        PK_ID,
      </if>
      <if test="qId != null">
        Q_ID,
      </if>
      <if test="expertPerson != null">
        EXPERT_PERSON,
      </if>
      <if test="expertProposal != null">
        EXPERT_PROPOSAL,
      </if>
      <if test="helpProposal != null">
        HELP_PROPOSAL,
      </if>
      <if test="makeEmp != null">
        MAKE_EMP,
      </if>
      <if test="makeDate != null">
        MAKE_DATE,
      </if>
      <if test="modifyEmp != null">
        MODIFY_EMP,
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE,
      </if>
      <if test="compCode != null">
        COMP_CODE,
      </if>
      <if test="sysCode != null">
        SYS_CODE,
      </if>
      <if test="iscurrent != null">
        ISCURRENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="qId != null">
        #{qId,jdbcType=VARCHAR},
      </if>
      <if test="expertPerson != null">
        #{expertPerson,jdbcType=VARCHAR},
      </if>
      <if test="expertProposal != null">
        #{expertProposal,jdbcType=VARCHAR},
      </if>
      <if test="helpProposal != null">
        #{helpProposal,jdbcType=VARCHAR},
      </if>
      <if test="makeEmp != null">
        #{makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        #{makeDate,jdbcType=DATE},
      </if>
      <if test="modifyEmp != null">
        #{modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=DATE},
      </if>
      <if test="compCode != null">
        #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="iscurrent != null">
        #{iscurrent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tony.jee.pojo.base.Criteria" resultType="java.lang.Integer">
    select count(*) from AG_QUESTION_EXPERT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update AG_QUESTION_EXPERT
    <set>
      <if test="record.pkId != null">
        PK_ID = #{record.pkId,jdbcType=VARCHAR},
      </if>
      <if test="record.qId != null">
        Q_ID = #{record.qId,jdbcType=VARCHAR},
      </if>
      <if test="record.expertPerson != null">
        EXPERT_PERSON = #{record.expertPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.expertProposal != null">
        EXPERT_PROPOSAL = #{record.expertProposal,jdbcType=VARCHAR},
      </if>
      <if test="record.helpProposal != null">
        HELP_PROPOSAL = #{record.helpProposal,jdbcType=VARCHAR},
      </if>
      <if test="record.makeEmp != null">
        MAKE_EMP = #{record.makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.makeDate != null">
        MAKE_DATE = #{record.makeDate,jdbcType=DATE},
      </if>
      <if test="record.modifyEmp != null">
        MODIFY_EMP = #{record.modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDate != null">
        MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
      </if>
      <if test="record.compCode != null">
        COMP_CODE = #{record.compCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCode != null">
        SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      </if>
      <if test="record.iscurrent != null">
        ISCURRENT = #{record.iscurrent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update AG_QUESTION_EXPERT
    set PK_ID = #{record.pkId,jdbcType=VARCHAR},
      Q_ID = #{record.qId,jdbcType=VARCHAR},
      EXPERT_PERSON = #{record.expertPerson,jdbcType=VARCHAR},
      EXPERT_PROPOSAL = #{record.expertProposal,jdbcType=VARCHAR},
      HELP_PROPOSAL = #{record.helpProposal,jdbcType=VARCHAR},
      MAKE_EMP = #{record.makeEmp,jdbcType=VARCHAR},
      MAKE_DATE = #{record.makeDate,jdbcType=DATE},
      MODIFY_EMP = #{record.modifyEmp,jdbcType=VARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},
      COMP_CODE = #{record.compCode,jdbcType=VARCHAR},
      SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      ISCURRENT = #{record.iscurrent,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    update AG_QUESTION_EXPERT
    <set>
      <if test="qId != null">
        Q_ID = #{qId,jdbcType=VARCHAR},
      </if>
      <if test="expertPerson != null">
        EXPERT_PERSON = #{expertPerson,jdbcType=VARCHAR},
      </if>
      <if test="expertProposal != null">
        EXPERT_PROPOSAL = #{expertProposal,jdbcType=VARCHAR},
      </if>
      <if test="helpProposal != null">
        HELP_PROPOSAL = #{helpProposal,jdbcType=VARCHAR},
      </if>
      <if test="makeEmp != null">
        MAKE_EMP = #{makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        MAKE_DATE = #{makeDate,jdbcType=DATE},
      </if>
      <if test="modifyEmp != null">
        MODIFY_EMP = #{modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null">
        MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      </if>
      <if test="compCode != null">
        COMP_CODE = #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null">
        SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="iscurrent != null">
        ISCURRENT = #{iscurrent,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.jee.pojo.base.AgQuestionExpert">
    update AG_QUESTION_EXPERT
    set Q_ID = #{qId,jdbcType=VARCHAR},
      EXPERT_PERSON = #{expertPerson,jdbcType=VARCHAR},
      EXPERT_PROPOSAL = #{expertProposal,jdbcType=VARCHAR},
      HELP_PROPOSAL = #{helpProposal,jdbcType=VARCHAR},
      MAKE_EMP = #{makeEmp,jdbcType=VARCHAR},
      MAKE_DATE = #{makeDate,jdbcType=DATE},
      MODIFY_EMP = #{modifyEmp,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      COMP_CODE = #{compCode,jdbcType=VARCHAR},
      SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      ISCURRENT = #{iscurrent,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
</mapper>