<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tony.jee.dao.base.AgQuestionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tony.jee.pojo.base.AgQuestionInfo" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="Q_ID" property="qId" jdbcType="VARCHAR" />
    <result column="Q_NAME" property="qName" jdbcType="VARCHAR" />
    <result column="Q_DESCRIPTION" property="qDescription" jdbcType="VARCHAR" />
    <result column="Q_STATE" property="qState" jdbcType="VARCHAR" />
    <result column="DISH_ID" property="dishId" jdbcType="VARCHAR" />
    <result column="DISH_CONTACT" property="dishContact" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="DISH_DEPT" property="dishDept" jdbcType="VARCHAR" />
    <result column="OTHEN_DISH" property="othenDish" jdbcType="VARCHAR" />
    <result column="INIT_PROGRAM" property="initProgram" jdbcType="VARCHAR" />
    <result column="RES_ID" property="resId" jdbcType="VARCHAR" />
    <result column="ISSHARE" property="isshare" jdbcType="VARCHAR" />
    <result column="CREATE_PERSON_ID" property="createPersonId" jdbcType="VARCHAR" />
    <result column="MAKE_EMP" property="makeEmp" jdbcType="VARCHAR" />
    <result column="MAKE_DATE" property="makeDate" jdbcType="TIMESTAMP" />
    <result column="MODIFY_EMP" property="modifyEmp" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="COMP_CODE" property="compCode" jdbcType="VARCHAR" />
    <result column="SYS_CODE" property="sysCode" jdbcType="VARCHAR" />
    <result column="ALLCOUNT" property="allcount" jdbcType="VARCHAR" />
    <result column="DISH_DUTY" property="dishDuty" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.qId != null" >
         and Q_ID = #{condition.qId,jdbcType=VARCHAR}
      </if>
      <if test="condition.qName != null" >
         and Q_NAME = #{condition.qName,jdbcType=VARCHAR}
      </if>
      <if test="condition.qDescription != null" >
         and Q_DESCRIPTION = #{condition.qDescription,jdbcType=VARCHAR}
      </if>
      <if test="condition.qState != null" >
         and Q_STATE = #{condition.qState,jdbcType=VARCHAR}
      </if>
      <if test="condition.dishId != null" >
         and DISH_ID = #{condition.dishId,jdbcType=VARCHAR}
      </if>
      <if test="condition.dishContact != null" >
         and DISH_CONTACT = #{condition.dishContact,jdbcType=VARCHAR}
      </if>
      <if test="condition.createTime != null" >
         and CREATE_TIME = #{condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.dishDept != null" >
         and DISH_DEPT = #{condition.dishDept,jdbcType=VARCHAR}
      </if>
      <if test="condition.othenDish != null" >
         and OTHEN_DISH = #{condition.othenDish,jdbcType=VARCHAR}
      </if>
      <if test="condition.initProgram != null" >
         and INIT_PROGRAM = #{condition.initProgram,jdbcType=VARCHAR}
      </if>
      <if test="condition.resId != null" >
         and RES_ID = #{condition.resId,jdbcType=VARCHAR}
      </if>
      <if test="condition.isshare != null" >
         and ISSHARE = #{condition.isshare,jdbcType=VARCHAR}
      </if>
      <if test="condition.createPersonId != null" >
         and CREATE_PERSON_ID = #{condition.createPersonId,jdbcType=VARCHAR}
      </if>
      <if test="condition.makeEmp != null" >
         and MAKE_EMP = #{condition.makeEmp,jdbcType=VARCHAR}
      </if>
      <if test="condition.makeDate != null" >
         and MAKE_DATE = #{condition.makeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.modifyEmp != null" >
         and MODIFY_EMP = #{condition.modifyEmp,jdbcType=VARCHAR}
      </if>
      <if test="condition.modifyDate != null" >
         and MODIFY_DATE = #{condition.modifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="condition.compCode != null" >
         and COMP_CODE = #{condition.compCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.sysCode != null" >
         and SYS_CODE = #{condition.sysCode,jdbcType=VARCHAR}
      </if>
      <if test="condition.allcount != null" >
         and ALLCOUNT = #{condition.allcount,jdbcType=VARCHAR}
      </if>
      <if test="condition.dishDuty != null" >
         and DISH_DUTY = #{condition.dishDuty,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="example.condition.qId != null" >
         and Q_ID = #{example.condition.qId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.qName != null" >
         and Q_NAME = #{example.condition.qName,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.qDescription != null" >
         and Q_DESCRIPTION = #{example.condition.qDescription,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.qState != null" >
         and Q_STATE = #{example.condition.qState,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.dishId != null" >
         and DISH_ID = #{example.condition.dishId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.dishContact != null" >
         and DISH_CONTACT = #{example.condition.dishContact,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.createTime != null" >
         and CREATE_TIME = #{example.condition.createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.dishDept != null" >
         and DISH_DEPT = #{example.condition.dishDept,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.othenDish != null" >
         and OTHEN_DISH = #{example.condition.othenDish,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.initProgram != null" >
         and INIT_PROGRAM = #{example.condition.initProgram,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.resId != null" >
         and RES_ID = #{example.condition.resId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.isshare != null" >
         and ISSHARE = #{example.condition.isshare,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.createPersonId != null" >
         and CREATE_PERSON_ID = #{example.condition.createPersonId,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.makeEmp != null" >
         and MAKE_EMP = #{example.condition.makeEmp,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.makeDate != null" >
         and MAKE_DATE = #{example.condition.makeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.modifyEmp != null" >
         and MODIFY_EMP = #{example.condition.modifyEmp,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.modifyDate != null" >
         and MODIFY_DATE = #{example.condition.modifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="example.condition.compCode != null" >
         and COMP_CODE = #{example.condition.compCode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.sysCode != null" >
         and SYS_CODE = #{example.condition.sysCode,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.allcount != null" >
         and ALLCOUNT = #{example.condition.allcount,jdbcType=VARCHAR}
      </if>
      <if test="example.condition.dishDuty != null" >
         and DISH_DUTY = #{example.condition.dishDuty,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    PK_ID, Q_ID, Q_NAME, Q_DESCRIPTION, Q_STATE, DISH_ID, DISH_CONTACT, CREATE_TIME, 
    DISH_DEPT, OTHEN_DISH, INIT_PROGRAM, RES_ID, ISSHARE, CREATE_PERSON_ID, MAKE_EMP, 
    MAKE_DATE, MODIFY_EMP, MODIFY_DATE, COMP_CODE, SYS_CODE, ALLCOUNT, DISH_DUTY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tony.jee.pojo.base.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AG_QUESTION_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from AG_QUESTION_INFO
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from AG_QUESTION_INFO
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tony.jee.pojo.base.Criteria" >
    delete from AG_QUESTION_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tony.jee.pojo.base.AgQuestionInfo" >
    insert into AG_QUESTION_INFO (PK_ID, Q_ID, Q_NAME, 
      Q_DESCRIPTION, Q_STATE, DISH_ID, 
      DISH_CONTACT, CREATE_TIME, DISH_DEPT, 
      OTHEN_DISH, INIT_PROGRAM, RES_ID, 
      ISSHARE, CREATE_PERSON_ID, MAKE_EMP, 
      MAKE_DATE, MODIFY_EMP, MODIFY_DATE, 
      COMP_CODE, SYS_CODE, ALLCOUNT, 
      DISH_DUTY)
    values (#{pkId,jdbcType=VARCHAR}, #{qId,jdbcType=VARCHAR}, #{qName,jdbcType=VARCHAR}, 
      #{qDescription,jdbcType=VARCHAR}, #{qState,jdbcType=VARCHAR}, #{dishId,jdbcType=VARCHAR}, 
      #{dishContact,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{dishDept,jdbcType=VARCHAR}, 
      #{othenDish,jdbcType=VARCHAR}, #{initProgram,jdbcType=VARCHAR}, #{resId,jdbcType=VARCHAR}, 
      #{isshare,jdbcType=VARCHAR}, #{createPersonId,jdbcType=VARCHAR}, #{makeEmp,jdbcType=VARCHAR}, 
      #{makeDate,jdbcType=TIMESTAMP}, #{modifyEmp,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{compCode,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, #{allcount,jdbcType=VARCHAR}, 
      #{dishDuty,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tony.jee.pojo.base.AgQuestionInfo" >
    insert into AG_QUESTION_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="qId != null" >
        Q_ID,
      </if>
      <if test="qName != null" >
        Q_NAME,
      </if>
      <if test="qDescription != null" >
        Q_DESCRIPTION,
      </if>
      <if test="qState != null" >
        Q_STATE,
      </if>
      <if test="dishId != null" >
        DISH_ID,
      </if>
      <if test="dishContact != null" >
        DISH_CONTACT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="dishDept != null" >
        DISH_DEPT,
      </if>
      <if test="othenDish != null" >
        OTHEN_DISH,
      </if>
      <if test="initProgram != null" >
        INIT_PROGRAM,
      </if>
      <if test="resId != null" >
        RES_ID,
      </if>
      <if test="isshare != null" >
        ISSHARE,
      </if>
      <if test="createPersonId != null" >
        CREATE_PERSON_ID,
      </if>
      <if test="makeEmp != null" >
        MAKE_EMP,
      </if>
      <if test="makeDate != null" >
        MAKE_DATE,
      </if>
      <if test="modifyEmp != null" >
        MODIFY_EMP,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
      <if test="compCode != null" >
        COMP_CODE,
      </if>
      <if test="sysCode != null" >
        SYS_CODE,
      </if>
      <if test="allcount != null" >
        ALLCOUNT,
      </if>
      <if test="dishDuty != null" >
        DISH_DUTY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=VARCHAR},
      </if>
      <if test="qId != null" >
        #{qId,jdbcType=VARCHAR},
      </if>
      <if test="qName != null" >
        #{qName,jdbcType=VARCHAR},
      </if>
      <if test="qDescription != null" >
        #{qDescription,jdbcType=VARCHAR},
      </if>
      <if test="qState != null" >
        #{qState,jdbcType=VARCHAR},
      </if>
      <if test="dishId != null" >
        #{dishId,jdbcType=VARCHAR},
      </if>
      <if test="dishContact != null" >
        #{dishContact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dishDept != null" >
        #{dishDept,jdbcType=VARCHAR},
      </if>
      <if test="othenDish != null" >
        #{othenDish,jdbcType=VARCHAR},
      </if>
      <if test="initProgram != null" >
        #{initProgram,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=VARCHAR},
      </if>
      <if test="isshare != null" >
        #{isshare,jdbcType=VARCHAR},
      </if>
      <if test="createPersonId != null" >
        #{createPersonId,jdbcType=VARCHAR},
      </if>
      <if test="makeEmp != null" >
        #{makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null" >
        #{makeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyEmp != null" >
        #{modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="compCode != null" >
        #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="allcount != null" >
        #{allcount,jdbcType=VARCHAR},
      </if>
      <if test="dishDuty != null" >
        #{dishDuty,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tony.jee.pojo.base.Criteria" resultType="java.lang.Integer" >
    select count(*) from AG_QUESTION_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update AG_QUESTION_INFO
    <set >
      <if test="record.pkId != null" >
        PK_ID = #{record.pkId,jdbcType=VARCHAR},
      </if>
      <if test="record.qId != null" >
        Q_ID = #{record.qId,jdbcType=VARCHAR},
      </if>
      <if test="record.qName != null" >
        Q_NAME = #{record.qName,jdbcType=VARCHAR},
      </if>
      <if test="record.qDescription != null" >
        Q_DESCRIPTION = #{record.qDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.qState != null" >
        Q_STATE = #{record.qState,jdbcType=VARCHAR},
      </if>
      <if test="record.dishId != null" >
        DISH_ID = #{record.dishId,jdbcType=VARCHAR},
      </if>
      <if test="record.dishContact != null" >
        DISH_CONTACT = #{record.dishContact,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dishDept != null" >
        DISH_DEPT = #{record.dishDept,jdbcType=VARCHAR},
      </if>
      <if test="record.othenDish != null" >
        OTHEN_DISH = #{record.othenDish,jdbcType=VARCHAR},
      </if>
      <if test="record.initProgram != null" >
        INIT_PROGRAM = #{record.initProgram,jdbcType=VARCHAR},
      </if>
      <if test="record.resId != null" >
        RES_ID = #{record.resId,jdbcType=VARCHAR},
      </if>
      <if test="record.isshare != null" >
        ISSHARE = #{record.isshare,jdbcType=VARCHAR},
      </if>
      <if test="record.createPersonId != null" >
        CREATE_PERSON_ID = #{record.createPersonId,jdbcType=VARCHAR},
      </if>
      <if test="record.makeEmp != null" >
        MAKE_EMP = #{record.makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.makeDate != null" >
        MAKE_DATE = #{record.makeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyEmp != null" >
        MODIFY_EMP = #{record.modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyDate != null" >
        MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.compCode != null" >
        COMP_CODE = #{record.compCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCode != null" >
        SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      </if>
      <if test="record.allcount != null" >
        ALLCOUNT = #{record.allcount,jdbcType=VARCHAR},
      </if>
      <if test="record.dishDuty != null" >
        DISH_DUTY = #{record.dishDuty,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update AG_QUESTION_INFO
    set PK_ID = #{record.pkId,jdbcType=VARCHAR},
      Q_ID = #{record.qId,jdbcType=VARCHAR},
      Q_NAME = #{record.qName,jdbcType=VARCHAR},
      Q_DESCRIPTION = #{record.qDescription,jdbcType=VARCHAR},
      Q_STATE = #{record.qState,jdbcType=VARCHAR},
      DISH_ID = #{record.dishId,jdbcType=VARCHAR},
      DISH_CONTACT = #{record.dishContact,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      DISH_DEPT = #{record.dishDept,jdbcType=VARCHAR},
      OTHEN_DISH = #{record.othenDish,jdbcType=VARCHAR},
      INIT_PROGRAM = #{record.initProgram,jdbcType=VARCHAR},
      RES_ID = #{record.resId,jdbcType=VARCHAR},
      ISSHARE = #{record.isshare,jdbcType=VARCHAR},
      CREATE_PERSON_ID = #{record.createPersonId,jdbcType=VARCHAR},
      MAKE_EMP = #{record.makeEmp,jdbcType=VARCHAR},
      MAKE_DATE = #{record.makeDate,jdbcType=TIMESTAMP},
      MODIFY_EMP = #{record.modifyEmp,jdbcType=VARCHAR},
      MODIFY_DATE = #{record.modifyDate,jdbcType=TIMESTAMP},
      COMP_CODE = #{record.compCode,jdbcType=VARCHAR},
      SYS_CODE = #{record.sysCode,jdbcType=VARCHAR},
      ALLCOUNT = #{record.allcount,jdbcType=VARCHAR},
      DISH_DUTY = #{record.dishDuty,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tony.jee.pojo.base.AgQuestionInfo" >
    update AG_QUESTION_INFO
    <set >
      <if test="qId != null" >
        Q_ID = #{qId,jdbcType=VARCHAR},
      </if>
      <if test="qName != null" >
        Q_NAME = #{qName,jdbcType=VARCHAR},
      </if>
      <if test="qDescription != null" >
        Q_DESCRIPTION = #{qDescription,jdbcType=VARCHAR},
      </if>
      <if test="qState != null" >
        Q_STATE = #{qState,jdbcType=VARCHAR},
      </if>
      <if test="dishId != null" >
        DISH_ID = #{dishId,jdbcType=VARCHAR},
      </if>
      <if test="dishContact != null" >
        DISH_CONTACT = #{dishContact,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dishDept != null" >
        DISH_DEPT = #{dishDept,jdbcType=VARCHAR},
      </if>
      <if test="othenDish != null" >
        OTHEN_DISH = #{othenDish,jdbcType=VARCHAR},
      </if>
      <if test="initProgram != null" >
        INIT_PROGRAM = #{initProgram,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        RES_ID = #{resId,jdbcType=VARCHAR},
      </if>
      <if test="isshare != null" >
        ISSHARE = #{isshare,jdbcType=VARCHAR},
      </if>
      <if test="createPersonId != null" >
        CREATE_PERSON_ID = #{createPersonId,jdbcType=VARCHAR},
      </if>
      <if test="makeEmp != null" >
        MAKE_EMP = #{makeEmp,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null" >
        MAKE_DATE = #{makeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyEmp != null" >
        MODIFY_EMP = #{modifyEmp,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="compCode != null" >
        COMP_CODE = #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null" >
        SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="allcount != null" >
        ALLCOUNT = #{allcount,jdbcType=VARCHAR},
      </if>
      <if test="dishDuty != null" >
        DISH_DUTY = #{dishDuty,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tony.jee.pojo.base.AgQuestionInfo" >
    update AG_QUESTION_INFO
    set Q_ID = #{qId,jdbcType=VARCHAR},
      Q_NAME = #{qName,jdbcType=VARCHAR},
      Q_DESCRIPTION = #{qDescription,jdbcType=VARCHAR},
      Q_STATE = #{qState,jdbcType=VARCHAR},
      DISH_ID = #{dishId,jdbcType=VARCHAR},
      DISH_CONTACT = #{dishContact,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DISH_DEPT = #{dishDept,jdbcType=VARCHAR},
      OTHEN_DISH = #{othenDish,jdbcType=VARCHAR},
      INIT_PROGRAM = #{initProgram,jdbcType=VARCHAR},
      RES_ID = #{resId,jdbcType=VARCHAR},
      ISSHARE = #{isshare,jdbcType=VARCHAR},
      CREATE_PERSON_ID = #{createPersonId,jdbcType=VARCHAR},
      MAKE_EMP = #{makeEmp,jdbcType=VARCHAR},
      MAKE_DATE = #{makeDate,jdbcType=TIMESTAMP},
      MODIFY_EMP = #{modifyEmp,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      COMP_CODE = #{compCode,jdbcType=VARCHAR},
      SYS_CODE = #{sysCode,jdbcType=VARCHAR},
      ALLCOUNT = #{allcount,jdbcType=VARCHAR},
      DISH_DUTY = #{dishDuty,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
</mapper>