/* 
Client: 
Author: Adler
*/

body {
	margin: 0 auto;
	font-family: '宋体';
	text-align: center;
	font-size: 12px;
	/*color: #707070;*/
}

h1, h2, ul.menu li a:link, ul.menu li a:visited {
	font-weight: bold;
	font-stretch: condensed;
}

.header {
	height: 45px;
	background-color: #5fa4c7; 
}

.wrap {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}

.top-bar {
	float: left;
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	float: left;
	font-size: 14px;
	margin-right: 30px;
}

ul.menu li a {
	line-height: 45px;
	text-decoration: none;
	color: white;
}

/* .join_text_color 不好用 a.join_text_color 也不好用 ul.menu li a .join_text_color也不好用*/
ul.menu li a.join-text-color {
	color: #99ffff;
}

.login-form {
	float: right;
}

/*确定设计图片中的圆角都是多少像素*/
.login-form form .text-input {
	float: left;
	font-size: 12px;
	line-height: 30px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #ccc;
	margin: 5px 5px;
	width: 160px;
}

.login-form form .submit {
	margin-top: 3px;
	display: inline-block;
	width: 66px;
	height: 38px;
	background: url(../images/login.jpg) no-repeat;
}

/*在左右两侧均不允许浮动元素*/
.clear { clear: both; }

.front-container {
	background: url(../images/home_img.jpg) no-repeat;
	height: 145px;
	margin: 0 auto;
}

