/* 
Client: 
Author: Adler
*/

body {
	margin: 0 auto;
	font-family: '宋体';
	text-align: center;
	font-size: 12px;
	/*color: #707070;*/
}

header {
	height: 45px;
	background-color: #5fa4c7; 
}

.font-style {
	font-weight: bold;
	font-stretch: condensed;
}

.wrap {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}

.top-bar {
	float: left;
}

.top-bar a:hover{
	color: #99ffff;
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu li {
	float: left;
	font-size: 14px;
	margin-right: 30px;
}

ul.menu li a {
	line-height: 45px;
	text-decoration: none;
	color: white;
}

/* .join_text_color 不好用 a.join_text_color 也不好用 ul.menu li a .join_text_color也不好用*/
ul.menu li a.join-text-color {
	color: #99ffff;
}

.login-form {
	float: right;
}

/*确定设计图片中的圆角都是多少像素*/
.login-form form .text-input, .register-form .text-input {
	float: left;
	font-size: 12px;
	line-height: 30px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #ccc;
	margin: 5px 5px;
	width: 160px;
}

.login-form form .submit {
	margin-top: 3px;
	display: inline-block;
	width: 66px;
	height: 38px;
	background: url(../images/login.jpg) no-repeat;
}

.register-form .submit {
	display: inline-block;
	width: 160px;
	height: 54px;
	background: url(../images/register_img.jpg) no-repeat;
}

/*在左右两侧均不允许浮动元素*/
.clear { clear: both; }

.front-container {
	background: url(../images/home_img.jpg) no-repeat;
	height: 145px;
	margin: 0 auto;
}

.content {
	padding-top: 41px;
}

.join-area {
	background: url(../images/home_join.jpg) no-repeat;
	height: 106px;
	margin-bottom: 16px;
}

.content-left {
	border: 1px solid #c7ebf3;
	width: 634px;
}

.share-content {
	padding: 10px;
}

.share-intro {
	margin-bottom: 10px;
}

.user-img {
	background: url(../images/user_img.jpg) no-repeat;
	height: 72px;
	width: 83px;
	float: left;
	margin-right: 10px;
}

.text-area {
	width: 866px;
	text-align: left;
	line-height: 72px;
	color: #525252;
}

.text-area a {
	text-decoration: none;
	color: #5fa4c7;
	margin-right: 3px;
}

.share-img {
	border: 10px solid #e6f2f5;
	background: url(../images/user_post_img.jpg) no-repeat;
	width: 595px;
	height: 280px;
}

.img-intro {
	line-height: 40px;
	text-align: left;
}

.inspiration-info {
	height: 30px;
	line-height: 30px;
	border-top: 1px solid #e6f2f5;
}

.info-item {
	float: right;
	margin-left: 30px;
}

.info-item a {
	font-weight: bold;
	font-stretch: condensed;
	text-decoration: none;
	color: #5fa4c7;
	margin-left: 3px;
}

.share-to {
	background-color: #e6f2f5;
	height: 36px;
	line-height: 36px;
	text-align: left;
	margin: 1px;
	padding-left: 9px;
}

footer {
	line-height: 50px;
	text-align: center;
	color: #ff6600;
	font-stretch: condensed;
}

.content-right {
	margin-left: 28px;
	width: 296px;
	float: right;
}

.counter-intro {
	background: url(../images/inspritional_counter.jpg) no-repeat;
	height: 15px;
	margin-bottom: 10px;
}

.counter {
	background: url(../images/counter_img.jpg) no-repeat;
	height: 40px;
}

h2.register-free {
	background-color: #c7ebf3;
	text-align: left;
	padding-left: 10px;
	color: #5fa4c7;
}

.register-form {
	border: 1px solid green;
}

